@use '../utilities/mixins' as *;
@use '../utilities/colors';
@use '../utilities/fonts';


.creative-cards {
  column-count: 4;
  column-gap: 1.5rem;

  @include bp(l) {
    column-count: 3;
  }

  @include bp(m) {
    column-count: 2;
  }

  @include bp(s) {
    column-count: 1;
  }

  .card-item {
    width: 204px;
    display: inline-block;
    border-radius: 16px;
    margin-bottom: 1.5rem;
    width: 100%;

    @include bp(s) {
      width: 80%;
    }

    .img-block {
      background: colors.$lt-brown;
      border: 2px solid colors.$lt-brown;
      border-bottom: 0px;
      border-radius: 12px 12px 0px 0px;
      margin-bottom: -1px;

      img {
        width: 100%;
        border-radius: 10px 10px 0px 0px;
        // opacity: 0.2;
        // animation: brighten2 1000ms ease-in-out forwards;
      }
    }

    .text-block {
      background: #fff;
      background-image: linear-gradient(#fff, #ddd);
      border: 2px solid colors.$lt-brown;
      border-radius: 0px 0px 8px 8px;
      padding: 10px 10px 10px;
      margin-top: -3px;

      h2 {
        margin: 0 0;
        color: colors.$lt-brown;
        font-size: 16px;
        line-height: 18px;
        font-weight: 400;
      }
    }


    // Card Animation
    &.bounce:hover {
      opacity: 1;
      animation: bounce 500ms ease-in-out 1 forwards;
    }

    @keyframes bounce {
      0% { transform: translateY(0px) translateX(0px); }
      60% { transform: translateY(-8px) translateX(0px); }
      90% { transform: translateY(2px) translateX(0px); }
      100% { transform: translateY(0px) translateX(0px); }
    }
  }
}
