@use '../utilities/mixins' as *;
@use '../utilities/colors';
@use '../utilities/fonts';

/* Footer */
.footer {

  svg {
    width: 30px;
  }

  ul {
    margin: 0 auto;
    width: 500px;
    display: flex;
    justify-content: center;

    @include bp(l) {
      width: 100%;
    }
  }

  li {
    padding: 16px 28px 10px;

    @include bp(l) {
      padding: 16px 18px 10px;
    }
  }

  .copyright {
    color: colors.$lt-brown;
    opacity: 0.8;
  }
}
