@use '../utilities/mixins' as *;
@use '../utilities/colors';
@use '../utilities/fonts';

/* Header */
.header {
  text-align: center;
  text-transform: uppercase;

  h1 {
    font-family: fonts.$title-font;
    font-size: 2.5em;
    font-weight: 800;

    background: linear-gradient(#fff, #e9e4de);
    border: 2px solid #a38b77;
    border-radius: .4em;
    padding: 0.2em 0.1em 0.1em;
    margin: 0 0 1em;
    font-size: 2.5em;
  }
}
