
/* Site Colors */
$brown: #512b05;
$soft-brown: #7e5d3c;
$dk-gry: #28303d;
$white: #fff;
$black: #000;


/* Background */
$bg: $white; // Default Background


/* Text Colors */
$text: #000;  // black
$link: rgba(143, 116, 93, .6);  // mid brown (transparent)
$link-hover: rgba(143, 116, 93, 1);;  // mid brown


/* Main Navbar Colors */
$navbar: $brown;
$nav-link: rgba( 255, 255, 255, 0.5);
$nav-link-hover: rgba( 255, 255, 255, 0.9);