// @use './utilities/mixins' as *;
@use 'utilities/colors';
@import 'utilities/mixins.scss';

/* Fonts */
// @import url('https://fonts.googleapis.com/css2?family=Lato|Baloo+2:wght@400;600|Raleway|Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600&family=Lato:wght@300;400&display=swap');
$title-font: 'Baloo 2', sans-serif;
$subtitle-font: 'Century Gothic', Helvetica, sans-serif;
$sans-serif: 'Lato', sans-serif;


/* Variables */
$main-nav-height: 58px;
$main-nav-count: 5;
$mobile-navs-z: (1: 5, 2: 4, 3: 3, 4: 2, 5: 1);


/* General */
body, html {
  margin: 0;
  padding: 0;
  background-color: colors.$bg;
  color: colors.$text;
  font-family: $sans-serif;
}

* {
  box-sizing: border-box;
}

p {
  font-family: $sans-serif;
  font-size: 16px;
  color: colors.$text;

  @include bp(m) {
    color: turquoise;
  }

  @include bp(s) {
    color: tomato;
  }
}

a {
  font-family: $subtitle-font;
  font-size: 16px;
  color: colors.$nav-link;
  text-decoration: none;

  &:hover {
    color: colors.$nav-link-hover;
  }
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}


/* App */
.app {
  text-align: center;
  background-color: colors.$bg;
  min-height: 100vh;
  color: colors.$dk-gry;
}

.content {
  padding-top: $main-nav-height;
}


/* Desktop Navbar */
.desktop-nav {
  background-color: colors.$brown;
  padding: 6px 3rem;
  position: fixed;
  top: 0;
  left: 0;
  height: $main-nav-height;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include bp(m) {
    display: none;
  }

  &.hidden {
    display: none;
  }

  ul {
    display: flex;
    align-items: center;
    height: 100%;
  }

  li {
    display: flex;
    align-items: center;
    height: 100%;
  }

  img {
    height: 100%;
  }

  .left-nav a {
    padding-right: 2.7rem;
  }

  .left-nav li:first-of-type a {
    font-family: $title-font;
    font-size: 2rem;
    font-weight: 600;
  }

  .right-nav a {
    height: 100%;
  }
}

/* Mobile Navbar */
.mobile-nav {
  background-color: colors.$brown;
  position: fixed;
  left: 0;
  height: $main-nav-height;
  width: 100%;
  display: none;

  @include bp(m) {
    display: block;
  }

  button {
    border: none;
    height: 100%;
    width: 100%;
    padding: 0;
    position: relative;
    background-color: colors.$brown;
    z-index: 1;
    border-bottom: 1px solid colors.$soft-brown;

    img {
      padding-top: 4px;
      height: 86%;
      background-color: colors.$brown;
    }

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }
  }

  a {
    height: 100%;
    padding: 17px 0;
  }

  ul {
    margin-top: 0;
    background-color: colors.$brown;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 0%;
    z-index: -1;
    position: relative;

    &.hidden {

      li {
        transition: transform 500ms ease-in-out;

        // staggering the nav items transition
        @for $i from 1 through $main-nav-count {
          &:nth-child(#{$i}) {
            transform: translateY($i * -90%);
            // transform: translateY($i * -100%);
          }
        }
      }
    }
  }

  li {
    background-color: colors.$brown;
    display: flex;
    align-items: center;
    height: 58px;
    width: 100%;
    border-bottom: 1px solid colors.$soft-brown;
    justify-content: center;
    background: linear-gradient(0deg, #512b05 80%, #432303);
    position: relative;
    transform: translateY(0%);
    transition: transform 500ms ease-in-out;

    // Defining the z-index for each mobile nav li
    // $mobile-navs-z: (nth-child: z-index position)
    // $mobile-navs-z: (1: 5, 2: 4, 3: 3, 4: 2, 5: 1);
    @each $key, $value in $mobile-navs-z {
      &:nth-child(#{$key}) {
        z-index: $value;
      }
    }
      //***** ^^^ is shorthand for vvv *****
      // li:nth-child(1) {
      //   z-index: 5;
      // }
      // li:nth-child(2) {
      //   z-index: 4;
      // }
      // li:nth-child(3) {
      //   z-index: 3;
      // }
      // li:nth-child(4) {
      //   z-index: 2;
      // }
      // li:nth-child(5) {
      //   z-index: 1;
      // }
  }

  li:first-of-type {
    a {
      font-family: $title-font;
      font-size: 2rem;
      font-weight: 600;
      padding: 3px 0;
    }
  }

  li:last-of-type {
    border-bottom: none;
  }
}

/* Header */
.header {
  text-align: center;
  text-transform: uppercase;
  margin: 70px 50px 50px;

  h1 {
    font-size: 2em;
  }
}
