@use './utilities/mixins' as *;
@use 'utilities/colors';
@use 'utilities/fonts';

/* Components */
@use 'components/nav';
@use 'components/header';
@use 'components/portfolio-card';
@use 'components/creative-card';
@use 'components/footer';


/* Variables */


/* General */
* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  background-color: colors.$bg;
  color: colors.$text;
  font-family: fonts.$sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: colors.$text;
  font-family: fonts.$sans-serif;
}

h1 {
  font-size: 2.5rem;
}

p, li {
  font-family: fonts.$sans-serif;
  font-size: 1rem;
  color: colors.$text;
}

a {
  font-family: fonts.$sans-serif;
  font-size: 1rem;
  color: colors.$link;
  text-decoration: none;

  &:hover {
    color: colors.$link-hover;
  }
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

hr {
  border-top: 1px solid colors.$lt-brown;
  opacity: 0.3;
  margin-bottom: 0;
}


/* App */
.app {
  text-align: center;
  background-color: colors.$bg;
  min-height: 100vh;
}

.content {
  padding-top: nav.$main-nav-height;
}


/* Post Container */
.post-container {
  background-color: colors.$white;
  max-width: 1000px;
  min-height: 100vh;
  margin: 0 auto 64px;
  padding: 40px;
  box-shadow: 0px 20px 60px -20px rgba(0, 0, 0, 0.4);

  @include bp(l) {
    margin-bottom: 0;
  }
}
