@use './utilities/mixins' as *;
@use 'utilities/colors';
@use 'utilities/fonts';

/* Components */
@use 'components/nav';
@use 'components/header';


/* Variables */


/* General */
* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  background-color: colors.$bg;
  color: colors.$text;
  font-family: fonts.$sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: colors.$text;
  font-family: fonts.$sans-serif;
}

h1 {
  font-size: 2em;
}

p {
  font-family: fonts.$sans-serif;
  font-size: 16px;
  color: colors.$text;

  @include bp(m) {
    color: turquoise;
  }

  @include bp(s) {
    color: tomato;
  }
}

a {
  font-family: fonts.$sans-serif;
  font-size: 16px;
  color: colors.$link;
  text-decoration: none;

  &:hover {
    color: colors.$link-hover;
  }
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
  color: colors.$text;
  font-family: fonts.$sans-serif;
}


/* App */
.app {
  text-align: center;
  background-color: colors.$bg;
  min-height: 100vh;
}

.content {
  padding-top: nav.$main-nav-height;
}


/* Post Container */
.post-container {
  background-color: colors.$white;
  max-width: 1000px;
  min-height: 100vh;
  margin: 0 auto 4em;
  padding: 2.5em;
  box-shadow: 0px 20px 60px -20px rgba(0, 0, 0, 0.4);

  @include bp(m) {
    padding-top: nav.$main-nav-height;
  }
}
